In [4]:
import pandas as pd
import os

data_folder = "/data"

file_list = [f for f in os.listdir(data_folder) if f.endswith('.csv')]
dataframes = []
for file in file_list:
    df = pd.read_csv(os.path.join(data_folder, file))
    dataframes.append(df)

combined_data = pd.concat(dataframes, ignore_index=True)

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/data'

In [12]:
combined_data.head()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
0,ABW,2020-01-01 00:00:00,2020-12-31 00:00:00,solid-fuel-transformation,co2,0.0,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
1,SHN,2019-01-01 00:00:00,2019-12-31 00:00:00,solid-fuel-transformation,n2o,0.0,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
2,SLB,2019-01-01 00:00:00,2019-12-31 00:00:00,solid-fuel-transformation,co2,0.0,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
3,SLE,2019-01-01 00:00:00,2019-12-31 00:00:00,solid-fuel-transformation,co2,0.0,tonnes,NaN,2022-09-06 12:39:52.76017,NaN
4,SLV,2019-01-01 00:00:00,2019-12-31 00:00:00,solid-fuel-transformation,co2,0.0,tonnes,NaN,2022-09-06 12:39:52.76017,NaN

In [13]:
combined_data.columns

Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')

In [14]:
combined_data.describe

<bound method NDFrame.describe of        iso3_country           start_time             end_time  \
0               ABW  2020-01-01 00:00:00  2020-12-31 00:00:00
1               SHN  2019-01-01 00:00:00  2019-12-31 00:00:00
2               SLB  2019-01-01 00:00:00  2019-12-31 00:00:00
3               SLE  2019-01-01 00:00:00  2019-12-31 00:00:00
4               SLV  2019-01-01 00:00:00  2019-12-31 00:00:00
...             ...                  ...                  ...
274505          SJM  2018-01-01 00:00:00  2018-12-31 00:00:00
274506          SMR  2017-01-01 00:00:00  2017-12-31 00:00:00
274507          SSD  2016-01-01 00:00:00  2016-12-31 00:00:00
274508          TKL  2017-01-01 00:00:00  2017-12-31 00:00:00
274509          WLF  2016-01-01 00:00:00  2016-12-31 00:00:00

               original_inventory_sector  gas  emissions_quantity  \
0              solid-fuel-transformation  co2                 0.0
1              solid-fuel-transformation  n2o                 0.0
2              solid-fuel-transformation  co2                 0.0
3              solid-fuel-transformation  co2                 0.0
4              solid-fuel-transformation  co2                 0.0
...                                  ...  ...                 ...
274505  synthetic-fertilizer-application  ch4                 NaN
274506  synthetic-fertilizer-application  ch4                 NaN
274507  synthetic-fertilizer-application  ch4                 NaN
274508  synthetic-fertilizer-application  ch4                 NaN
274509  synthetic-fertilizer-application  ch4                 NaN

       emissions_quantity_units temporal_granularity  \
0                        tonnes                  NaN
1                        tonnes                  NaN
2                        tonnes                  NaN
3                        tonnes                  NaN
4                        tonnes                  NaN
...                         ...                  ...
274505                   tonnes               annual
274506                   tonnes               annual
274507                   tonnes               annual
274508                   tonnes               annual
274509                   tonnes               annual

                      created_date modified_date
0        2022-09-06 12:39:52.76017           NaN
1        2022-09-06 12:39:52.76017           NaN
2        2022-09-06 12:39:52.76017           NaN
3        2022-09-06 12:39:52.76017           NaN
4        2022-09-06 12:39:52.76017           NaN
...                            ...           ...
274505  2022-08-09 14:12:06.805559           NaN
274506  2022-08-09 14:12:06.808619           NaN
274507  2022-08-09 14:12:06.811679           NaN
274508  2022-08-09 14:12:06.823698           NaN
274509  2022-08-09 14:12:06.841734           NaN

[274510 rows x 10 columns]>

In [15]:
for i, df in enumerate(dataframes):
    print(f"File {file_list[i]} columns: {df.columns}")

File country_solid-fuel-transformation_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_oil-and-gas-refining_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_sand-quarrying_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_oil-and-gas-production-and-transport_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_enteric-fermentation_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_other-onsite-fuel-usage_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_other-agricultural-soil-emissions_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_copper-mining_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_pulp-and-paper_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_coal-mining_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_wastewater-treatment-and-discharge_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_rice-cultivation_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_bauxite-mining_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_other-energy-use_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_other-manufacturing_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_chemicals_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_residential-and-commercial-onsite-fuel-usage_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_manure-management_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_iron-mining_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_steel_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_fluorinated-gases_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_cropland-fires_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_solid-waste-disposal_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_aluminum_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_incineration-and-open-burning-of-waste_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_biological-treatment-of-solid-waste-and-biogenic_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_rock-quarrying_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_electricity-generation_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_cement_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_other-fossil-fuel-operations_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')
File country_synthetic-fertilizer-application_emissions.csv columns: Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')

In [16]:
combined_data['start_time'] = pd.to_datetime(combined_data['start_time'], errors='coerce')
combined_data['end_time'] = pd.to_datetime(combined_data['end_time'], errors='coerce')

In [17]:
combined_data.drop(columns=['created_date', 'modified_date'], inplace=True)

In [18]:
combined_data['original_inventory_sector'] = combined_data['original_inventory_sector'].str.lower()

In [19]:
combined_data.head()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity
0,ABW,2020-01-01,2020-12-31,solid-fuel-transformation,co2,0.0,tonnes,NaN
1,SHN,2019-01-01,2019-12-31,solid-fuel-transformation,n2o,0.0,tonnes,NaN
2,SLB,2019-01-01,2019-12-31,solid-fuel-transformation,co2,0.0,tonnes,NaN
3,SLE,2019-01-01,2019-12-31,solid-fuel-transformation,co2,0.0,tonnes,NaN
4,SLV,2019-01-01,2019-12-31,solid-fuel-transformation,co2,0.0,tonnes,NaN

In [20]:
combined_data.drop_duplicates(inplace=True)

In [23]:
combined_data.describe()

,start_time,end_time,emissions_quantity
count,274510,274510,2.444730e+05
mean,2018-01-14 02:58:36.986630656,2019-01-13 09:46:18.784015104,4.302015e+06
min,2015-01-01 00:00:00,2015-12-31 00:00:00,0.000000e+00
25%,2016-01-01 00:00:00,2016-12-31 00:00:00,0.000000e+00
50%,2018-01-01 00:00:00,2018-12-31 00:00:00,0.000000e+00
75%,2020-01-01 00:00:00,2020-12-31 00:00:00,3.595347e+04
max,2022-01-01 00:00:00,2022-12-31 00:00:00,4.816495e+09
std,NaN,NaN,5.813966e+07

In [25]:
combined_data.tail()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity
274505,SJM,2018-01-01,2018-12-31,synthetic-fertilizer-application,ch4,NaN,tonnes,annual
274506,SMR,2017-01-01,2017-12-31,synthetic-fertilizer-application,ch4,NaN,tonnes,annual
274507,SSD,2016-01-01,2016-12-31,synthetic-fertilizer-application,ch4,NaN,tonnes,annual
274508,TKL,2017-01-01,2017-12-31,synthetic-fertilizer-application,ch4,NaN,tonnes,annual
274509,WLF,2016-01-01,2016-12-31,synthetic-fertilizer-application,ch4,NaN,tonnes,annual